---
interface Props {
    title: string;
    videoSrc: string;
    link: string;
    description: string;
    tags?: string[];
}

const { title, videoSrc, link, description, tags = [] }: Props = Astro.props;
---

<div
    class="flex flex-col lg:flex-row sm:flex-row
    items-center lg:items-start sm:items-start
    bg-white border-l-4 border-primary-hovered"
>
    <!-- Left: Video thumbnail -->
    <video
        src={videoSrc}
        controls
        class="w-full lg:w-48 lg:h-32 sm:w-48 sm:h-32 object-cover flex-shrink-0 hover:shadow-lg transition-shadow"
        muted
        loop
        playsinline></video>

    <!-- Right: Text content -->
    <div class="w-full px-4 flex flex-col">
        <a href={link} target="_blank" class="w-full flex flex-col">
            <!-- Title row -->
            <div class="mb-1 flex justify-between items-center hover:underline">
                <h3 class="text-primary-active text-sm">{title}</h3>
                <p class="text-primary-hovered text-sm">Source</p>
            </div>
            <div class="border-b-1 border-primary-mute"></div>
            <!-- Description -->
            <p class="mt-1 text-sm italic text-primary-hovered">
                {description}
            </p>
        </a>

        <!-- Tags -->
        {
            tags.length > 0 && (
                <div class="mt-1 flex flex-wrap gap-1">
                    {tags.map((tag) => (
                        <span class="bg-primary-mute px-1 py-0.5 text-primary-hovered text-xs italic rounded-xs">
                            {tag}
                        </span>
                    ))}
                </div>
            )
        }
    </div>
</div>
